@model ChangePasswordVM

<div class="container">
    <div style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; border-radius: 15px; padding: 20px; background-color: white;" class="m-auto col-lg-6 mt-5 ">
        <h2 class="text-center">Change Password</h2>
        <form asp-controller="UserPassword" asp-action="ChangePassword" method="post">
            <input name="__RequestVerificationToken" type="hidden" />

            <div class="form-group">
                <label for="OldPassword">Old Password</label>
                <input required type="password" id="OldPassword" name="OldPassword" class="form-control mb-2" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="NewPassword">New Password</label>
                <input required type="password" id="NewPassword" name="NewPassword" class="form-control mb-2" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password</label>
                <input required type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control mb-2" />
                <span class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary my-3">Change Password</button>
        </form>
    </div>
</div>