<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExaminationSystem</title>
    <link rel="stylesheet" href="~/vendors/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light px-5 py-2">
        <div class="container-fluid">
            <a href="#" class="navbar-brand"><img width="150"
                    src="https://compar.edu.az/staticfiles/defaults/img/compar%20logo1%402x.png" alt=""></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link active">Exams</a>
                    <a href="#" class="nav-item nav-link">Profile</a>
                    <a href="/dashboard" class="nav-item nav-link">Dashboard</a>
                    <!-- <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a> -->
                </div>
                <div class="navbar-nav ms-auto">
                    @await Component.InvokeAsync("Auth")
                </div>
            </div>
        </div>
    </nav>
    @RenderBody()
    <script src="~/vendors/js/bootstrap.bundle.js"></script>
    <script src="~/js/main.js"></script>
</body>

</html>