@model User

@if (Model != null)
{
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Model.UserName @Model.Surname
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="/userpassword/changepassword" class="dropdown-item">Change Password</a>
            <form asp-area="" asp-controller="Auth" asp-action="Logout" method="post">
                <button class="dropdown-item">Logout</button>
            </form>
        </div>
    </div>
    @*   <div>
        <form asp-area="" asp-controller="Auth" asp-action="Logout" method="post">
            <button class="btn btn-primary">Logout</button>
        </form>
    </div>
*@


}
else
{
    <a class="btn btn-primary" href="/auth/login">Login</a>
}